{% extends 'base-halfmoon.html.twig' %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="content"><h1>Jointoken erstellen</h1>
            <hr>
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.realname, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <input type="submit" class="btn btn-success" value="{{ 'Submit'|trans }}">
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
