{% extends 'base-halfmoon.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="content">
                <h1>Login</h1>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="alert alert-success">
                            Sie sind bereits eingeloggt als <strong>{{ app.user.realname }}</strong>, <a href="{{ path('app_logout') }}">Abmelden</a>
                        </div>
                    {% endif %}

                    <label for="inputEmail">eMail-Adresse</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Kennwort</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
<br>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Anmelden
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
