{% extends 'base-halfmoon.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <!-- Container-fluid -->
    <div class="container-fluid">
        <!-- First comes a content container -->
        <div class="content">
            <h1> <!-- font-size-22 = font-size: 2.2rem (22px) -->
                LawMeet Dashboard
            </h1>
            ...
        </div>
    </div>
</div>
{% endblock %}

