{% extends 'base-halfmoon.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="content">
                <h1>Nutzerkonto anlegen</h1>
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <div class="card">
                    <h2 class="card-title">
                        Konto anlegen
                    </h2>
                    {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_row(registrationForm.realname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.orgaunit, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                            {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'custom-checkbox'}}) }}
                    </div>

                    <div class="text-left"> <!-- text-right = text-align: right -->
                        <a href="#" class="btn btn-primary">Account anlegen</a>
                    </div>
                </div>



            </div>
        </div>
    </div>
{% endblock %}
