{% extends 'base-halfmoon.html.twig' %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="content">
            <h1>Meeting erstellen</h1>
            <hr>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.meeting_name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <br>
            {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}