{% extends 'base-halfmoon.html.twig' %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="content">
            <h1>Meeting: {{ meeting.meetingName }}</h1>
            {% if(meeting.description is not null) %}
                <p>{{ meeting.description }}</p>
            {% endif %}

            <hr>
            <a href="{{ path('app_meeting_startmeeting', {id: meeting.id}) }}" class="btn btn-success">Meeting starten</a>
            <a href="{{ path('app_meeting_createjointoken', {meetingid: meeting.id}) }}" class="btn btn-primary">Jointoken erstellen</a>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>Teilnehmer</th>
                    <th>eMail-Adresse</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for jointoken in meeting.joinTokens %}
                <tr>
                    <th>{{ jointoken.realname }}</th>
                    <td>{{ jointoken.email }}</td>
                    <td>
                        <button class="btn btn-success" onclick="copyTextToClipboard('{{ url('app_meeting_joinmeetingattendee', {token: jointoken.token}) }}')">
                            <i class="fas fa-clipboard"></i>
                        </button>
                        <a href="{{ path('app_meeting_deletejointoken', {meetingid: meeting.id, tokenid: jointoken.id}) }}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script>
        function copyTextToClipboard(text) {
            var textArea = document.createElement("textarea");

            //
            // *** This styling is an extra step which is likely not required. ***
            //
            // Why is it here? To ensure:
            // 1. the element is able to have focus and selection.
            // 2. if the element was to flash render it has minimal visual impact.
            // 3. less flakyness with selection and copying which **might** occur if
            //    the textarea element is not visible.
            //
            // The likelihood is the element won't even render, not even a
            // flash, so some of these are just precautions. However in
            // Internet Explorer the element is visible whilst the popup
            // box asking the user for permission for the web page to
            // copy to the clipboard.
            //

            // Place in the top-left corner of screen regardless of scroll position.
            textArea.style.position = 'fixed';
            textArea.style.top = 0;
            textArea.style.left = 0;

            // Ensure it has a small width and height. Setting to 1px / 1em
            // doesn't work as this gives a negative w/h on some browsers.
            textArea.style.width = '2em';
            textArea.style.height = '2em';

            // We don't need padding, reducing the size if it does flash render.
            textArea.style.padding = 0;

            // Clean up any borders.
            textArea.style.border = 'none';
            textArea.style.outline = 'none';
            textArea.style.boxShadow = 'none';

            // Avoid flash of the white box if rendered for any reason.
            textArea.style.background = 'transparent';


            textArea.value = text;

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }

            document.body.removeChild(textArea);

            halfmoon.initStickyAlert({
                content: "Der Meetinglink wurde erfolgreich kopiert!",
                title: "Link kopiert",
                alertType: "alert-success",
                fillType: "filled-lm"
            });
        }
    </script>
{% endblock %}