{% extends 'base-halfmoon.html.twig' %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="content">
            <h1>Meetings</h1>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>Meeting</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for meeting in meetings %}
                    <tr>
                        <th><a href="{{ path('app_meeting_detail', {id: meeting.id}) }}">{{ meeting.meetingName }}</a></th>
                        <td>
                            <a href="{{ path('app_meeting_detail', {id: meeting.id}) }}" class="btn btn-primary">
                                <i class="fas fa-info"></i>
                            </a>
                            <a href="{{ path('app_meeting_delete', {id: meeting.id}) }}" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}