<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon and title -->
    <link rel="icon" href="path/to/fav.png">
    <title>LawMeet | {{ title }}</title>

    <!-- Halfmoon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <!--
      Or,
      Use the following (no variables, supports IE11):
      <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
      Learn more: https://www.gethalfmoon.com/docs/customize/#notes-on-browser-compatibility
    -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
<!-- Modals go here -->
<!-- Reference: https://www.gethalfmoon.com/docs/modal -->

<!-- Page wrapper start -->
<div class="page-wrapper with-navbar with-sidebar">

    <!-- Sticky alerts (toasts), empty container -->
    <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
    <div class="sticky-alerts"></div>

    <!-- Navbar start -->
    <nav class="navbar">
        <!-- Reference: https://www.gethalfmoon.com/docs/navbar -->
        <!-- Navbar content (with toggle sidebar button) -->
        <div class="navbar-content">
            <button class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span class="sr-only">Toggle sidebar</span> <!-- sr-only = show only on screen readers -->
            </button>
        </div>
        <!-- Navbar brand -->
        <a href="#" class="navbar-brand">
            <!--<img src="..." alt="...">-->
            LawMeet
        </a>
        <!-- Navbar text -->
        <span class="navbar-text text-monospace">v1.0-beta</span> <!-- text-monospace = font-family shifted to monospace -->
        <!-- Navbar nav -->
        <ul class="navbar-nav d-none d-md-flex"> <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
            <li class="nav-item active">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Über...</a>
            </li>
        </ul>
    </nav>
    <!-- Navbar end -->

    <!-- Sidebar start -->
    <div class="sidebar">
        <div class="sidebar-menu">
            <!-- Sidebar content with the search box -->
            <div class="sidebar-content">
                {% if(app.user == false) %}
                    <a href="{{ path('app_login') }}" class="sidebar-brand">
                        <span class="sidebar-icon">
                            <i class="fas fa-user"></i>
                        </span>
                        Anmelden
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="sidebar-brand">
                        <span class="sidebar-icon">
                            <i class="fas fa-user"></i>
                        </span>
                        {{ app.user.realname }}
                    </a>
                {% endif %}
            </div>


            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_staticpage_index') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.get('_route') == 'app_staticpage_index' %}active{% endif %}">
                    <span class="sidebar-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </span>
                    Dashboard
                </a>
                <h5 class="sidebar-title">Meetings</h5>
                <div class="sidebar-divider"></div>
                <a href="{{ path('app_meeting_list') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.get('_route') == 'app_meeting_list' %}active{% endif %}">
                    <span class="sidebar-icon">
                        <i class="fas fa-handshake"></i>
                    </span>
                    Übersicht
                </a>
                <a href="{{ path('app_meeting_createmeeting') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.get('_route') == 'app_meeting_createmeeting' %}active{% endif %}">
                    <span class="sidebar-icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    Meeting erstellen
                </a>
                {% if app.request.get('_route') == 'app_meeting_detail' %}
                    <a href="{{ path('app_meeting_detail', {id: meeting.id}) }}" class="sidebar-link sidebar-link-with-icon {% if app.request.get('_route') == 'app_meeting_detail' %}active{% endif %}">
                        <span class="sidebar-icon">
                            <i class="fas fa-info"></i>
                        </span>
                        Meeting-Information
                    </a>
                {% endif %}

                {% if app.request.get('_route') == 'app_meeting_createjointoken' %}
                    <a href="" class="sidebar-link sidebar-link-with-icon {% if app.request.get('_route') == 'app_meeting_createjointoken' %}active{% endif %}">
                        <span class="sidebar-icon">
                            <i class="fas fa-info"></i>
                        </span>
                        Meeting-Information
                    </a>
                {% endif %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <h5 class="sidebar-title">Administration</h5>
                <div class="sidebar-divider"></div>
                <a href="{{ path('app_register') }}" class="sidebar-link sidebar-link-with-icon {% if app.request.get('_route') == 'app_meeting_list' %}active{% endif %}">
                    <span class="sidebar-icon">
                        <i class="fas fa-user"></i>
                    </span>
                    Nutzerverwaltung
                </a>
            {% endif %}
        </div>
    </div>
    <!-- Sidebar end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!--
          Add your page's main content here
          Examples:
          1. https://www.gethalfmoon.com/docs/content-and-cards/#building-a-page
          2. https://www.gethalfmoon.com/docs/grid-system/#building-a-dashboard
        -->

        {% block content %}{% endblock %}
    </div>
    <!-- Content wrapper end -->

</div>
<!-- Page wrapper end -->

<!-- Halfmoon JS -->
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>

<script>
    {% for message in app.flashes('error') %}
        {% set parts = message|split('|') %}
        halfmoon.initStickyAlert({
            content: "{{ parts[1] }}",
            title: "{{ parts[0] }}",
            alertType: "alert-danger",
            fillType: "filled"
        });
    {% endfor %}
</script>

</body>
</html>